body {
	padding-top: 5rem;
}

/*-- --*/

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body {
	font-family: "Ubuntu", sans-serif;
}


table {
   margin: auto;
   width: 100% !important; }

table,
th,
td {
	border: 0px solid #ddd;
	border-collapse: collapse;
  

}

th,
td {
	padding: 10px;
}

.border_right {
	border-right: 2px solid black !important;
}
.border_bottom {
	border-bottom: 1px solid black !important;
}
.blsb {
	border-left: 1px solid black !important;
}

.b {
	border: 4px solid black !important;
}

.bold {
	font-weight: bold;
}
.fr {
	float: right;
}
.fl {
	float: left;
}

.wsp {
	white-space: pre;
}

/*-- --*/

.table td,
.table th {
	border-top: 0px solid #eee;
}
.table thead th {
	vertical-align: bottom;
	border-bottom: 0px solid #dee2e6;
}


  

@media all and (min-width: 991.98px) {
  .table {
    max-width: 720px;
  }
}

@media all and (min-width: 1199.98px) {
  .table {
    max-width: 720px;
  }
}


