  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
}

table, th, td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  
}

th, td {
  padding: 10px;
}

.brsb {
  border-right: 1px solid black;
}
.bbsb {
  border-bottom: 1px solid black;
}
.blsb {
  border-left: 1px solid black;
}

.b { border: 1px solid black !important;}

.bld {
  font-weight: bold;
}
.fr {float: right;}
.fl {float: left;}

.tac {text-align: center;}


.wsp {white-space: pre;}
