
    #DB-9_RxD-2  { fill:#0000; stroke:#0000FF; stroke-width:6; transition:stroke-width 0.1s ease-in; }
    #DB-9_RxD-2:hover  { stroke-width:16; }
    #DB-9_TxD-3  { fill:#0000; stroke:#0000FF; stroke-width:6; transition:stroke-width 0.1s ease-in; stroke-dasharray:4; }
    #DB-9_TxD-3:hover  { stroke-width:16; }
    #DB-9_GND-5  { fill:#0000; stroke:#555555; stroke-width:6; transition:stroke-width 0.1s ease-in; }
    #DB-9_GND-5:hover  { stroke-width: 16; }

    #DB-9_RTS-7  { fill:#0000; stroke:#0aaa8c; stroke-width:4; transition:stroke-width 0.1s ease-in; stroke-dasharray:4; }
    #DB-9_RTS-7:hover  { stroke-width:16; }
    #DB-9_CTS-8  { fill:#0000; stroke:#0aaa8c; stroke-width:4; transition:stroke-width 0.1s ease-in; }
    #DB-9_CTS-8:hover  { stroke-width:16; }

    #DB-9_Shield { fill:#0000; stroke:#d8bfd8; stroke-width:2; transition:stroke-width 0.1s ease-in; }
    #DB-9_Shield:hover { stroke-width:16; }
    #DB-9_DTR-4  { fill:#0000; stroke:#ffe4b5; stroke-width:2; transition:stroke-width 0.1s ease-in; }
    #DB-9_DTR-4:hover  { stroke-width:16; }
    #DB-9_DCD-1  { fill:#0000; stroke:#ffb6c1; stroke-width:2; transition:stroke-width 0.1s ease-in; }
    #DB-9_DCD-1:hover  { stroke-width:16; }
    #DB-9_DSR-6  { fill:#0000; stroke:#ffe4b5; stroke-width:2; transition:stroke-width 0.1s ease-in; stroke-dasharray:4; }
    #DB-9_DSR-6:hover  { stroke-width:16; }
    #DB-9_RI-9   { fill:#0000; stroke:#add8e6; stroke-width:2; transition:stroke-width 0.1s ease-in; }
    #DB-9_RI-9:hover   { stroke-width:16; }

    .svg_style {
      font-size: 12px;
      white-space: break-spaces;
      /*background:#7d7d7d9c;*/
    }